/*font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: #000000;
}
.navbar-nav li a {
  margin-right: 50px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.navbar-toggler {
  border: none !important;
  outline: none !important;
}
.navbar {
  background-color: black;
  z-index: 1000;
}
.active-home {
  border-bottom: 1px solid #f1f2f6;
}
.nav-link:hover {
  border-bottom: 1px solid #f1f2f6;
}



.header {
  background: #000;
  color: #f1f2f6;
}
.main-head {
  font-size: 80px;
  margin-top: 150px;
}
.sub-head {
  font-size: 30px;
  margin-top: 25px;
  font-family: "Open Sans", sans-serif;
}
.desc {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 40px;
  padding-bottom: 10px;
  width: 85%;
}
.learn {
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 10px;
}
.main-img{
  height: 400px;
  width: 600px;
  margin-top: 80px;
  margin-bottom: 40px;
}
.about {
  background-color: #f1f2f6;
  color: black;
}
.about-head {
  text-align: center;
  margin-bottom: 10px;
  padding-top: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.about-desc {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 30px;
}
.abt-img {
  align-self: center;
  width: 100%;
  height: 900px;
}
.p-head {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: rgb(68, 68, 68);
}
.air1 {
  width: 81px;
  height: 188px;
  margin-left: 1rem;
  margin-bottom: 40px;
  margin-top: 20px;
}
.air2 {
  width: 81px;
  height: 188px;
  margin-bottom: 40px;
}
.air1 {
  animation: updown 2s linear infinite;
  animation-direction: alternate;
}
@keyframes updown {
  from {
    padding-top: 30px;
  }
  to {
    padding-bottom: 30px;
  }
}
.air2 {
  animation: up 2s linear infinite;
  animation-direction: alternate;
}
@keyframes up {
  to {
    padding-top: 30px;
  }
  from {
    padding-bottom: 30px;
  }
}
.pro {
  height: 300px;
  width: auto;
  margin-bottom: 20px;
  animation: updown 2s linear infinite;
  animation-direction: alternate;
}
@keyframes pro {
  to {
    padding-bottom: 30px;
  }
  from {
    padding-top: 30px;
  }
}
.hdphone {
  height: 200px;
  width: auto;
  margin-bottom: 40px;
  animation: updown 2s linear infinite;
  animation-direction: alternate;
}
@keyframes pro {
  to {
    padding-top: 30px;
  }
  from {
    padding-bottom: 30px;
  }
}
.collection {
  width: 600px;
  height: auto;
  position: sticky;
}
.coll-desc {
  margin-top: 8px;
  font-size: 18px;
  margin-bottom: 30px;
}
.iphone {
  font-size: 60px !important;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
}
.head1 {
  margin-top: 100px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.head2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 95%;
  margin-bottom: 20px;
}
.headphone-head{
    font-size: 60px;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    margin-top: 20px;
    color: #f1f2f6;
    text-align: left;
    margin-top: 70px;
    line-height: 95%;
}
.headph-desc{
    color: #f1f2f6;
    width: 70%;
    text-align: left;
    margin-top: 30px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
}
.colors{
    widows: 90%;
    height: 500px!important;
    align-items: center;
}
.side-colors{
    width: 90%;
    height: 500px;
}
.color-head{
    font-size: 30px;
    text-align: left;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
}
.info{
  height: 40px;
  width: 40px;
}
ul li {
  list-style-type: none;
  cursor: pointer;
}
.main-link{
  margin-bottom: 15px;
}